[Locations]
# Path to loadout config. Can use relative path from here.
looks_config = ./DemoBotAppearence.cfg

# Path to python file. Can use relative path from here.
#!!!Make sure it matches whatever you rename ExampleBot.py to!!!
python_file = ./DemoBot.py

# Name of the bot in-game
name = DemoBot

#logo
logo_file = DemoBot.png

maximum_tick_rate_preference = 120

[Details]
# These values are optional but useful metadata for helper programs
# Name of the bot's creator/developer
developer = FormularSumo

# Short description of the bot
description = A bot that demolishes enemy bots 

# Fun fact about the bot
fun_fact = Uses 90 lines of code

# Link to github repository
github = N/A

# Programming language
language = Python
